:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --white: hsl(0, 0%, 100%);

  --orange: hsl(28, 100, 52%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--neutral-900);
  color: var(--white);
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
  margin: 2rem auto;
}
h2 {
  font-size: 1rem;
}
header,
.search {
  width: 68rem;
  display: flex;
}
header {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
}
header > img {
  width: 150px;
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2rem;
  width: 60rem;
  height: 60vh;
  margin: 2.2rem auto;
}

.hourly-display {
  grid-row: 1 / span 2;
  grid-column: 2;
  align-content: flex-start;
}
.weather-display,
.daily-display {
  grid-column: 1;
}

.search {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin: 0.5rem auto;
}

.search-box {
  flex-direction: row;
}

.search-box > input {
  padding: 0.6rem;
  width: 25rem;
  margin-right: 0.75rem;
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  background-color: var(--neutral-600);
  border: none;
  border-radius: 0.5rem;
}
.search-box > button {
  padding: 0.6rem 1.2rem;
  background-color: var(--blue-500);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
}

.card-icon {
  width: 2rem;
  height: 2rem;
}
.primary-display {
  display: block;
  width: 35rem;
  border: 1px solid var(--white);
}
.secondary-display {
  display: flex;
  width: 35rem;
  gap: 1rem;
}
.hourly {
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.hourly > div {
  display: flex;
}

.daily-display > div > article {
  display: flex;
  width: 8rem;
  border: 1px solid var(--white);
  flex-direction: column;
}
.secondary-display > div {
  display: flex;
  width: 15rem;
  height: 5rem;
  border: 1px solid var(--white);
}
.daily-display > div {
  display: flex;
  width: 15rem;
  height: 5rem;
}

.hourly-display > div {
  display: flex;
  width: 15rem;
  height: 3rem;
  border: 1px solid var(--white);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
