:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --white: hsl(0, 0%, 100%);

  --orange: hsl(28, 100, 52%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--neutral-900);
  color: var(--white);
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
  margin: 2rem auto;
}
h2 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
header,
.search {
  width: 68rem;
  display: flex;
}
header {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
}
header > img {
  width: 150px;
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2rem;
  width: 55rem;
  height: 65vh;
  margin: 2.2rem auto;
}

.hourly-display {
  grid-row: 1 / span 2;
  grid-column: 2;
  background-color: var(--neutral-800);
  place-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.hourly-selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.8rem;
}
.hourly-selector > select {
  background-color: var(--neutral-700);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.45rem;
}

.weather-display,
.daily-display {
  grid-column: 1;
}

.search {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin: 0.5rem auto;
}

.search-box {
  flex-direction: row;
}

.search-box > input {
  padding: 0.6rem;
  width: 25rem;
  margin-right: 0.75rem;
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  background-color: var(--neutral-600);
  border: none;
  border-radius: 0.5rem;
  outline: none;
}
.search-box > button {
  padding: 0.6rem 1.2rem;
  background-color: var(--blue-500);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  &:hover {
    background-color: var(--neutral-700);
  }
}

.primary-display {
  display: flex;
  width: 35rem;
  height: 12.5rem;
  background-size: contain;
  background-image: url(./assets/images/bg-today-large.svg);
  align-items: center;
  justify-content: space-around;
}

.primary-display > div {
  width: 100%;
  margin: 0 2rem;
  text-align: start;
}
.secondary-display {
  display: flex;
  width: 35rem;
  gap: 0.8rem;
}
.hourly {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hourly > div {
  display: flex;
  padding: 0.675rem 1rem;
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
  gap: 1rem;
}
.location {
  font-size: 1.2rem;
}
.current-icon {
  width: 5rem;
  height: 5rem;
}
.hourly-icon {
  width: 1.5rem;
}
.temperature {
  font-size: 4rem;
  margin: 0 1.5rem;
}

.secondary-display > div {
  display: flex;
  width: 15rem;
  height: 5rem;
  background-color: var(--neutral-700);
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding: 0.8rem;
  color: var(--neutral-200);
}
.secondary-display > div > p {
  font-size: 1.375rem;
  color: var(--white);
}

.daily-display > div {
  display: flex;
  width: 18rem;
  height: 8rem;
  gap: 1rem;
}
.daily > article {
  padding: 0.45rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / span 2;
  place-items: center;
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
  font-size: 0.875rem;
}
.daily-icon {
  grid-column: 1 / span 2;
  width: 2rem;
}

.daily-temp {
  display: flex;
  gap: 0.5rem;
}
.unit-select {
  background-color: var(--neutral-700);
  color: var(--white);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
