:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --white: hsl(0, 0%, 100%);

  --orange: hsl(28, 100, 52%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--neutral-900);
  color: var(--white);
  font-size: 18px;
}
header,
.search,
section {
  width: 68rem;
  display: flex;
}
header {
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.search {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

section {
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
